.themeSwitch {
    background: none;
    position: absolute;
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 50%;
    transition: 0.3s;
    padding: 0;
}

.themeSwitch--image {
    padding: 3px;
    width: 27px;
    border-radius: 50%;
    padding: 2px;
}

@media(max-width: 700px) {
    .themeSwitch {
        width: 23px;
        height: 23px;
        margin-left: -10px;
        margin-top: -10px;
    }
}

.themeSwitch:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.themeSwitch:active {
    transform: scale(1.2);
}