.themeSwitch {
    background: none;
    position: fixed;
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 50%;
    transition: 0.3s;
}

.themeSwitch--image {
    margin-left: -6px;
    margin-top: -1px;
    padding: 3px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

@media(max-width: 550px) {
    .themeSwitch {
        width: 23px;
        height: 23px;
        margin-left: -10px;
        margin-top: -10px;
    }
}

.themeSwitch:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.themeSwitch:active {
    transform: scale(1.2);
}